@use "../../foundation/base" as b;

.c-section-title{
    padding-left: 12.5rem;
    font-size: 3rem;
    line-height: calc(50 / 30);
    color: b.$color-primary;

    &::before{
        content: "";
        display: block;
        width: 4.65rem;
        height: 1px;
        margin-bottom: 1.1rem;
        background-color: b.$color-primary;
    }
}