@use "../../foundation/base" as b;

.p-cta{
    margin-top: 8rem;
    padding: 8rem 0;
    background-color: b.$color-footer-bg;
    color: b.$color-white;

    &__inner{
        text-align: center;
    }

    .c-section-title{
        text-align: left;
        margin-bottom: 4rem;
    }

    &__text{
        font-size: 1.4rem;
        line-height: 1.8;
        margin-bottom: 4rem;
    }
}