@use "../../foundation/base" as b;

.p-page-header{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255,255,255,0.75), transparent);
        z-index: 1;
    }

    &__catch{
        position: absolute;
        left: 38.4rem;
        top: 18rem;
        z-index: 10;
    }

    &__title{
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        color: b.$color-primary;
    }

    &__subtitle{
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        color: b.$color-primary;
    }

    &__img{
        display: block;
        width: 100%;
    }
}