@use "../../foundation/base" as b;

.p-philosophy{
    margin-top: 8rem;
    padding: 8rem 0;
    background-color: b.$color-bg-dark;
    color: b.$color-white;

    &__inner{
        text-align: center;
    }

    &__lead{
        font-size: 3rem;
        line-height: 1.4;
        margin-bottom: 1rem;
    }

    &__heading{
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    &__catch{
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.4;
    }
}
