// Layout - Header
// ==========================================================================

@use "../foundation/base" as b;

.l-header{
    position: absolute;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    height: 6.6rem;
    padding: 0.04rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: b.$color-white;
    border-radius: 3.3rem;
    z-index: 10;
}